.App, .Details {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  position: relative;
  background: hsla(0,0%,100%,.4);
}

.App-header:after {
    background-size: cover;
    background-image: url(../imgs/sw2.jpg);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
}

.App-intro {
  font-size: large;
  padding: 0% 5% 5% 5%;
}

.Search-box {
  width: 200px;
  height: 28px;
  margin-bottom: 10px;
}

.Characters-table, .Character-table {
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #e3e9ef;
    padding: 15px;
}

tr:hover {
  cursor: pointer;
  background-color: rgba(97, 218, 251, 0.2);
}

thead tr:hover {
  cursor: default;
  background-color: transparent;
}

.Character-box {
  border: 1px solid #61dafb;
  margin: 10px 0px 10px 0px;
  padding: 1%;
}

.Character-footer {
  margin-top: 10px;
}

.Character-table tbody tr:hover {
  cursor: default;
  background-color: transparent;
}

.comment-box {
  width: 95%;
  height: 100px;
  margin: 1% 0% 1% 2%;
  border: 1px solid #61dafb;
}

.left {
  float: right;
}

.blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}
